:root {
    --grey: #1e1e1e;
    --light-grey: #272725;
    --text-color: white;
    --yellow: #FFD57D;
    --dark-yellow: #ffc957;
    --input-focus: #FFC65A;
    --purple: #624E88;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Kanit", sans-serif;
    background-color: var(--grey);
    color: white;
    line-height: 1.6;
  }
  